@*@{
    Layout = null;
}*@
@{
    ViewBag.Title = "品牌管理";
}

<h2 class="page-title">
    <i class="shuxian"></i>
    <span>品牌管理<i></i></span>
</h2>
<div>
</div>

<script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data: {},
        mounted: function () {
            this.$nextTick(function () {
                console.log(111);
            });
        },
        methods: {
        }
    })
</script>