/MaiDongXi/.vs/MaiDongXi/v15/*.suo
/MaiDongXi/.vs/MaiDongXi/v15/Server/sqlite3/*.lock
/MaiDongXi/.vs/MaiDongXi/v15/Server/sqlite3/*.ide
/MaiDongXi/.vs/MaiDongXi/v15/Server/sqlite3/*.ide-shm
/MaiDongXi/.vs/MaiDongXi/v15/Server/sqlite3/*.ide-wal
/MaiDongXi/.vs/config/*.config
/MaiDongXi/*.xlsx
/MaiDongXi/MaiDongXi.Common/bin/Debug/netcoreapp2.1/*.json
/MaiDongXi/MaiDongXi.Common/bin/Debug/netcoreapp2.1/*.dll
/MaiDongXi/MaiDongXi.Common/bin/Debug/netcoreapp2.1/*.pdb
/MaiDongXi/MaiDongXi.Common/obj/Debug/netcoreapp2.1/*.cs
/MaiDongXi/MaiDongXi.Common/obj/Debug/netcoreapp2.1/*.cache
/MaiDongXi/MaiDongXi.Common/obj/Debug/netcoreapp2.1/*.txt
/MaiDongXi/MaiDongXi.Common/obj/Debug/netcoreapp2.1/*.dll
/MaiDongXi/MaiDongXi.Common/obj/Debug/netcoreapp2.1/*.pdb
/MaiDongXi/MaiDongXi.Common/obj/*.cache
/MaiDongXi/MaiDongXi.Common/obj/*.props
/MaiDongXi/MaiDongXi.Common/obj/*.targets
/MaiDongXi/MaiDongXi.Common/obj/*.json
/MaiDongXi/MaiDongXi.Entity/bin/Debug/netcoreapp2.1/*.json
/MaiDongXi/MaiDongXi.Entity/bin/Debug/netcoreapp2.1/*.dll
/MaiDongXi/MaiDongXi.Entity/bin/Debug/netcoreapp2.1/*.pdb
/MaiDongXi/MaiDongXi.Entity/obj/Debug/netcoreapp2.1/*.cs
/MaiDongXi/MaiDongXi.Entity/obj/Debug/netcoreapp2.1/*.cache
/MaiDongXi/MaiDongXi.Entity/obj/Debug/netcoreapp2.1/*.txt
/MaiDongXi/MaiDongXi.Entity/obj/Debug/netcoreapp2.1/*.dll
/MaiDongXi/MaiDongXi.Entity/obj/Debug/netcoreapp2.1/*.pdb
/MaiDongXi/MaiDongXi.Entity/obj/*.cache
/MaiDongXi/MaiDongXi.Entity/obj/*.props
/MaiDongXi/MaiDongXi.Entity/obj/*.targets
/MaiDongXi/MaiDongXi.Entity/obj/*.json
/MaiDongXi/MaiDongXi.IRepository/bin/Debug/netcoreapp2.1/*.dll
/MaiDongXi/MaiDongXi.IRepository/bin/Debug/netcoreapp2.1/*.pdb
/MaiDongXi/MaiDongXi.IRepository/bin/Debug/netcoreapp2.1/*.json
/MaiDongXi/MaiDongXi.IRepository/obj/Debug/netcoreapp2.1/*.cs
/MaiDongXi/MaiDongXi.IRepository/obj/Debug/netcoreapp2.1/*.cache
/MaiDongXi/MaiDongXi.IRepository/obj/Debug/netcoreapp2.1/*.CopyComplete
/MaiDongXi/MaiDongXi.IRepository/obj/Debug/netcoreapp2.1/*.txt
/MaiDongXi/MaiDongXi.IRepository/obj/Debug/netcoreapp2.1/*.dll
/MaiDongXi/MaiDongXi.IRepository/obj/Debug/netcoreapp2.1/*.pdb
/MaiDongXi/MaiDongXi.IRepository/obj/*.cache
/MaiDongXi/MaiDongXi.IRepository/obj/*.props
/MaiDongXi/MaiDongXi.IRepository/obj/*.targets
/MaiDongXi/MaiDongXi.IRepository/obj/*.json
/MaiDongXi/MaiDongXi.Repository/bin/Debug/netcoreapp2.1/*.dll
/MaiDongXi/MaiDongXi.Repository/bin/Debug/netcoreapp2.1/*.pdb
/MaiDongXi/MaiDongXi.Repository/bin/Debug/netcoreapp2.1/*.json
/MaiDongXi/MaiDongXi.Repository/obj/Debug/netcoreapp2.1/*.cs
/MaiDongXi/MaiDongXi.Repository/obj/Debug/netcoreapp2.1/*.cache
/MaiDongXi/MaiDongXi.Repository/obj/Debug/netcoreapp2.1/*.CopyComplete
/MaiDongXi/MaiDongXi.Repository/obj/Debug/netcoreapp2.1/*.txt
/MaiDongXi/MaiDongXi.Repository/obj/Debug/netcoreapp2.1/*.dll
/MaiDongXi/MaiDongXi.Repository/obj/Debug/netcoreapp2.1/*.pdb
/MaiDongXi/MaiDongXi.Repository/obj/*.cache
/MaiDongXi/MaiDongXi.Repository/obj/*.props
/MaiDongXi/MaiDongXi.Repository/obj/*.targets
/MaiDongXi/MaiDongXi.Repository/obj/*.json
/MaiDongXi/MaiDongXi/bin/Debug/netcoreapp2.1/*.dll
/MaiDongXi/MaiDongXi/bin/Debug/netcoreapp2.1/*.pdb
/MaiDongXi/MaiDongXi/bin/Debug/netcoreapp2.1/*.json
/MaiDongXi/MaiDongXi/obj/Debug/netcoreapp2.1/*.cs
/MaiDongXi/MaiDongXi/obj/Debug/netcoreapp2.1/*.cache
/MaiDongXi/MaiDongXi/obj/Debug/netcoreapp2.1/*.dll
/MaiDongXi/MaiDongXi/obj/Debug/netcoreapp2.1/*.pdb
/MaiDongXi/MaiDongXi/obj/Debug/netcoreapp2.1/*.CopyComplete
/MaiDongXi/MaiDongXi/obj/Debug/netcoreapp2.1/*.txt
/MaiDongXi/MaiDongXi/obj/Debug/netcoreapp2.1/Razor/Views/Home/*.cs
/MaiDongXi/MaiDongXi/obj/Debug/netcoreapp2.1/Razor/Views/Login/*.cs
/MaiDongXi/MaiDongXi/obj/Debug/netcoreapp2.1/Razor/Views/OrderInfo/*.cs
/MaiDongXi/MaiDongXi/obj/Debug/netcoreapp2.1/Razor/Views/Shared/*.cs
/MaiDongXi/MaiDongXi/obj/Debug/netcoreapp2.1/Razor/Views/*.cs
/MaiDongXi/MaiDongXi/obj/*.cache
/MaiDongXi/MaiDongXi/obj/*.props
/MaiDongXi/MaiDongXi/obj/*.targets
/MaiDongXi/MaiDongXi/obj/*.json
/SexShop/SexShop.Common/bin/Debug/netcoreapp2.1/*.json
/SexShop/SexShop.Common/bin/Debug/netcoreapp2.1/*.dll
/SexShop/SexShop.Common/bin/Debug/netcoreapp2.1/*.pdb
/SexShop/SexShop.Common/obj/Debug/netcoreapp2.1/*.cs
/SexShop/SexShop.Common/obj/Debug/netcoreapp2.1/*.cache
/SexShop/SexShop.Common/obj/Debug/netcoreapp2.1/*.txt
/SexShop/SexShop.Common/obj/Debug/netcoreapp2.1/*.dll
/SexShop/SexShop.Common/obj/Debug/netcoreapp2.1/*.pdb
/SexShop/SexShop.Common/obj/*.cache
/SexShop/SexShop.Common/obj/*.props
/SexShop/SexShop.Common/obj/*.targets
/SexShop/SexShop.Common/obj/*.json
/SexShop/SexShop.Entity/bin/Debug/netcoreapp2.1/*.json
/SexShop/SexShop.Entity/bin/Debug/netcoreapp2.1/*.dll
/SexShop/SexShop.Entity/bin/Debug/netcoreapp2.1/*.pdb
/SexShop/SexShop.Entity/obj/Debug/netcoreapp2.1/*.cs
/SexShop/SexShop.Entity/obj/Debug/netcoreapp2.1/*.cache
/SexShop/SexShop.Entity/obj/Debug/netcoreapp2.1/*.txt
/SexShop/SexShop.Entity/obj/Debug/netcoreapp2.1/*.dll
/SexShop/SexShop.Entity/obj/Debug/netcoreapp2.1/*.pdb
/SexShop/SexShop.Entity/obj/*.cache
/SexShop/SexShop.Entity/obj/*.props
/SexShop/SexShop.Entity/obj/*.targets
/SexShop/SexShop.Entity/obj/*.json
/SexShop/SexShop.IRepository/bin/Debug/netcoreapp2.1/*.dll
/SexShop/SexShop.IRepository/bin/Debug/netcoreapp2.1/*.pdb
/SexShop/SexShop.IRepository/bin/Debug/netcoreapp2.1/*.json
/SexShop/SexShop.IRepository/obj/Debug/netcoreapp2.1/*.cs
/SexShop/SexShop.IRepository/obj/Debug/netcoreapp2.1/*.cache
/SexShop/SexShop.IRepository/obj/Debug/netcoreapp2.1/*.CopyComplete
/SexShop/SexShop.IRepository/obj/Debug/netcoreapp2.1/*.txt
/SexShop/SexShop.IRepository/obj/Debug/netcoreapp2.1/*.dll
/SexShop/SexShop.IRepository/obj/Debug/netcoreapp2.1/*.pdb
/SexShop/SexShop.IRepository/obj/*.cache
/SexShop/SexShop.IRepository/obj/*.props
/SexShop/SexShop.IRepository/obj/*.targets
/SexShop/SexShop.IRepository/obj/*.json
/SexShop/SexShop.Repository/bin/Debug/netcoreapp2.1/*.dll
/SexShop/SexShop.Repository/bin/Debug/netcoreapp2.1/*.pdb
/SexShop/SexShop.Repository/bin/Debug/netcoreapp2.1/*.json
/SexShop/SexShop.Repository/obj/Debug/netcoreapp2.1/*.cs
/SexShop/SexShop.Repository/obj/Debug/netcoreapp2.1/*.cache
/SexShop/SexShop.Repository/obj/Debug/netcoreapp2.1/*.CopyComplete
/SexShop/SexShop.Repository/obj/Debug/netcoreapp2.1/*.txt
/SexShop/SexShop.Repository/obj/Debug/netcoreapp2.1/*.dll
/SexShop/SexShop.Repository/obj/Debug/netcoreapp2.1/*.pdb
/SexShop/SexShop.Repository/obj/*.cache
/SexShop/SexShop.Repository/obj/*.props
/SexShop/SexShop.Repository/obj/*.targets
/SexShop/SexShop.Repository/obj/*.json
/SexShop/SexShop/bin/Debug/netcoreapp2.1/*.dll
/SexShop/SexShop/bin/Debug/netcoreapp2.1/*.pdb
/SexShop/SexShop/bin/Debug/netcoreapp2.1/*.json
/SexShop/SexShop/obj/Debug/netcoreapp2.1/*.cs
/SexShop/SexShop/obj/Debug/netcoreapp2.1/*.cache
/SexShop/SexShop/obj/Debug/netcoreapp2.1/*.dll
/SexShop/SexShop/obj/Debug/netcoreapp2.1/*.pdb
/SexShop/SexShop/obj/Debug/netcoreapp2.1/*.CopyComplete
/SexShop/SexShop/obj/Debug/netcoreapp2.1/*.txt
/SexShop/SexShop/obj/Debug/netcoreapp2.1/Razor/Views/Home/*.cs
/SexShop/SexShop/obj/Debug/netcoreapp2.1/Razor/Views/Login/*.cs
/SexShop/SexShop/obj/Debug/netcoreapp2.1/Razor/Views/OrderInfo/*.cs
/SexShop/SexShop/obj/Debug/netcoreapp2.1/Razor/Views/Shared/*.cs
/SexShop/SexShop/obj/Debug/netcoreapp2.1/Razor/Views/*.cs
/SexShop/SexShop/obj/*.cache
/SexShop/SexShop/obj/*.props
/SexShop/SexShop/obj/*.targets
/SexShop/SexShop/obj/*.json
