
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>水杯</title>
    <link href="~/js/app.js" rel="preload" as="script">
    <link href="~/js/chunk-vendors.js" rel="preload" as="script">
    <link href="~/css/app.css" rel="preload" as="style">
</head>
<body>
    <div id="app">
        <img src="~/images/1.jpg" alt=""><div class="intro">
            <p class="price red">
                <span>¥</span> 158.00
            </p><p class="desc">
                <span>热卖</span> 茶水分离茶不苦，两头喝不漏水，双层防烫更耐摔，这款高硼硅玻璃杯卖火啦！
            </p><div class="btn-box"><button type="button" class="el-button el-button--danger"><!----><i class="el-icon-shopping-cart-full"></i><span>活动大促 抢三重礼</span></button></div><div class="red-box">
                <p><strong>【典雅泡茶杯】双层防烫，茶水分离</strong></p><p>
                    <strong>
                        吊牌价990元，活动期间
                        <span>立减891元</span>，只要99元
                    </strong>
                </p><p><strong>用好杯喝好茶，茶水分离茶不苦</strong></p><p><strong>两头喝不漏水，双层隔热不烫手</strong></p><p><strong>下单再送三重好礼，先到先得，全国包邮，送货上门，验货满意后付款</strong></p>
            </div><p class="xinshan">▽请欣赏这款典雅尊贵的茶水分离泡茶杯</p>
        </div>
        <div class="video-box">
            <video src="~/images/0.mp4"></video>
        </div>
        <div class="img-box">
            <img src="~/images/2.jpg" alt="">
            <img src="~/images/3.jpg" alt="">
            <img src="~/images/4.jpg" alt="">
            <img src="~/images/5.jpg" alt="">
            <img src="~/images/6.gif" alt="">
            <img src="~/images/7.jpg" alt="">
            <img src="~/images/8.gif" alt="">
            <img src="~/images/9.jpg" alt="">
            <img src="~/images/10.gif" alt="">
            <img src="~/images/11.jpg" alt="">
            <img src="~/images/12.gif" alt="">
            <img src="~/images/13.jpg" alt="">
            <img src="~/images/14.gif" alt="">
            <img src="~/images/15.jpg" alt="">
            <img src="~/images/16.gif" alt="">
            <img src="~/images/17.jpg" alt="">
            <img src="~/images/18.jpg" alt="">
            <img src="~/images/19.jpg" alt="">
            <img src="~/images/20.jpg" alt="">
            <img src="~/images/21.jpg" alt="">
            <img src="~/images/22.jpg" alt="">
            <img src="~/images/23.jpg" alt="">
            <img src="~/images/24.jpg" alt="">
            <img src="~/images/25.jpg" alt="">
            <img src="~/images/26.jpg" alt="">
            <img src="~/images/27.jpg" alt="">
            <img src="~/images/28.jpg" alt="">
            <img src="~/images/29.jpg" alt="">
            <img src="~/images/30.jpg" alt="">
            <img src="~/images/31.jpg" alt="">
            <img src="~/images/32.jpg" alt="">
            <img src="~/images/33.jpg" alt="">
            <img src="~/images/34.jpg" alt="">
            <img src="~/images/35.jpg" alt="">
            <img src="~/images/36.jpg" alt="">
            <img src="~/images/37.jpg" alt="">
            <img src="~/images/38.jpg" alt="">
            <img src="~/images/39.jpg" alt="">
            <img src="~/images/40.jpg" alt="">
            <img src="~/images/41.jpg" alt="">
            <img src="~/images/42.jpg" alt="">
            <img src="~/images/43.jpg" alt="">
            <img src="~/images/44.jpg" alt="">
            <img src="~/images/45.jpg" alt="">
            <img src="~/images/46.jpg" alt="">
            <img src="~/images/47.jpg" alt="">
            <img src="~/images/48.jpg" alt="">
            <img src="~/images/49.jpg" alt="">
            <img src="~/images/50.jpg" alt="">
        </div>
        <div class="form-title">
            <p>填写订单</p>
        </div>
        <div class="form">
            <form class="el-form">
                <div role="radiogroup" class="el-radio-group">
                    <label role="radio" aria-checked="true" tabindex="0" class="el-radio is-checked">
                        <span class="el-radio__input is-checked">
                            <span class="el-radio__inner"></span>
                            <input type="radio" aria-hidden="true" tabindex="-1" class="el-radio__original" value="超值装：300ml款+400ml款【仅158元】">
                        </span>
                        <span class="el-radio__label">超值装：300ml款+400ml款【仅158元】</span>
                    </label>
                    <label role="radio" tabindex="-1" class="el-radio">
                        <span class="el-radio__input">
                            <span class="el-radio__inner"></span>
                            <input type="radio" aria-hidden="true" tabindex="-1" class="el-radio__original" value="特惠装：300ml款1个【仅99元】">
                        </span>
                        <span class="el-radio__label">特惠装：300ml款1个【仅99元】</span>
                    </label>
                    <label role="radio" tabindex="-1" class="el-radio">
                        <span class="el-radio__input">
                            <span class="el-radio__inner"></span>
                            <input type="radio" aria-hidden="true" tabindex="-1" class="el-radio__original" value="尊享装：400ml款1个【仅108元】">
                        </span>
                        <span class="el-radio__label">尊享装：400ml款1个【仅108元】</span>
                    </label>
                </div>
                <div class="info">
                    <p class="intro">送大红袍（1罐）+杯套（1个）+备用密封圈（2个）</p>
                    <p class="intro">典雅尊贵，双向双层，茶水分离，防爆耐摔</p>
                </div>
                <div class="count">
                    <p>
                        <span class="red">*</span> 数量
                    </p><div class="d-fl">
                        <div class="el-input-number el-input-number--mini">
                            <span role="button" class="el-input-number__decrease is-disabled">
                                <i class="el-icon-minus"></i>
                            </span>
                            <span role="button" class="el-input-number__increase">
                                <i class="el-icon-plus"></i>
                            </span>
                            <div class="el-input el-input--mini">
                                <input type="text" autocomplete="off" aria-label="描述文字" max="10" min="1" class="el-input__inner" role="spinbutton" aria-valuemax="10" aria-valuemin="1" aria-valuenow="1" aria-disabled="false">
                            </div>
                        </div>
                        <p class="fl-1">
                            商品金额：
                            <span class="red">¥ 108</span>
                        </p>
                    </div>
                </div>
                <div class="el-form-item is-required">
                    <div class="el-form-item__label-wrap">
                        <label for="name" class="el-form-item__label" style="width: auto;">姓名</label>
                    </div>
                    <div class="el-form-item__content" style="margin-left: 51px;">
                        <div class="el-input">
                            <input type="text" autocomplete="off" class="el-input__inner">
                        </div>
                    </div>
                </div>
                <div class="el-form-item is-required">
                    <div class="el-form-item__label-wrap">
                        <label for="phone" class="el-form-item__label" style="width: auto;">手机</label>
                    </div>
                    <div class="el-form-item__content" style="margin-left: 51px;">
                        <div class="el-input">
                            <input type="number" autocomplete="off" class="el-input__inner">
                        </div>
                    </div>
                </div>
                <div class="el-form-item is-required">
                    <div class="el-form-item__label-wrap">
                        <label for="phone" class="el-form-item__label" style="width: auto;">地区</label>
                    </div>
                    <div class="el-form-item__content" style="margin-left: 51px;">
                        <div class="el-select">
                            <div class="el-input el-input--suffix">
                                <input type="text" readonly="readonly" autocomplete="off" placeholder="请选择活动区域" class="el-input__inner">
                                <span class="el-input__suffix">
                                    <span class="el-input__suffix-inner">
                                        <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="el-select-dropdown el-popper" style="display: none; min-width: 659px;">
                                <div class="el-scrollbar" style="">
                                    <div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                                        <ul class="el-scrollbar__view el-select-dropdown__list">
                                            <li class="el-select-dropdown__item">
                                                <span>区域一</span>
                                            </li>
                                            <li class="el-select-dropdown__item">
                                                <span>区域二</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="el-scrollbar__bar is-horizontal">
                                        <div class="el-scrollbar__thumb" style="transform: translateX(0%);">
                                        </div>
                                    </div>
                                    <div class="el-scrollbar__bar is-vertical">
                                        <div class="el-scrollbar__thumb" style="transform: translateY(0%);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="el-form-item is-required">
                    <div class="el-form-item__label-wrap">
                        <label for="phone" class="el-form-item__label" style="width: auto;">付款</label>
                    </div>
                    <div class="el-form-item__content" style="margin-left: 51px;">
                        <div role="switch" aria-checked="true" class="el-switch is-checked">
                            <input type="checkbox" name="" true-value="true" class="el-switch__input">
                            <span class="el-switch__core" style="width: 40px;"></span>
                            <span class="el-switch__label el-switch__label--right is-active">
                                <span>验货满意后付款</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="el-form-item">
                    <div class="el-form-item__label-wrap" style="margin-left: 11px;">
                        <label class="el-form-item__label" style="width: auto;">留言</label>
                    </div>
                    <div class="el-form-item__content" style="margin-left: 51px;">
                        <div class="el-textarea">
                            <textarea autocomplete="off" class="el-textarea__inner" style="min-height: 33px;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="remen">
                    <label role="checkbox" class="el-checkbox">
                        <span aria-checked="mixed" class="el-checkbox__input">
                            <span class="el-checkbox__inner"></span>
                            <input type="checkbox" aria-hidden="true" name="type" class="el-checkbox__original" value="记录收货地址，下次购买自动输入">
                        </span>
                        <span class="el-checkbox__label">记录收货地址，下次购买自动输入</span>
                    </label>
                </div>
            </form>
        </div>
        <div class="footer">
            <button type="button" class="el-button el-button--danger">
                <span>提交订单</span>
            </button>
            <p>此页面商品或服务由厦门云盯电子商务有限公司提供</p>
            <p>www.maidongxi.xyz仅提供技术支持</p>
        </div>
    </div>
    <script type="text/javascript" src="~/js/app.js"></script>
    <script type="text/javascript" src="~/js/chunk-vendors.js"></script>
    <script type="text/javascript">
        // <![CDATA[  <-- For SVG support
        if ('WebSocket' in window) {
            (function () {
                function refreshCSS() {
                    var sheets = [].slice.call(document.getElementsByTagName("link"));
                    var head = document.getElementsByTagName("head")[0];
                    for (var i = 0; i < sheets.length; ++i) {
                        var elem = sheets[i];
                        var parent = elem.parentElement || head;
                        parent.removeChild(elem);
                        var rel = elem.rel;
                        if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                            var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                            elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                        }
                        parent.appendChild(elem);
                    }
                }
                var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
                var address = protocol + window.location.host + window.location.pathname + '/ws';
                var socket = new WebSocket(address);
                socket.onmessage = function (msg) {
                    if (msg.data == 'reload') window.location.reload();
                    else if (msg.data == 'refreshcss') refreshCSS();
                };
                if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                    console.log('Live reload enabled.');
                    sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
                }
            })();
        }
        else {
            console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
        }
            // ]]>
    </script>
</body>
</html>

