@using MaiDongXi.Entity
@{
    ViewData["Title"] = "首页";
}
<div id="mainApp">
    <el-card class="box-card">
        <div slot="header" class="clearfix">
            <span>待发货 （<span style="color:red">{{orderData.waitSendGoodsNum}}</span>）</span>
            <el-button style="float: right; padding: 3px 0" type="text"><a href="/orderinfo/manageIndex?status=1">去发货</a></el-button>
        </div>
        <div class="text item">
            <table style="color:#909399;font-size:14px">
                <tr v-for="item in orderData.waitSendGoodsList">
                    <td style="width:100px">{{item.consignee}}</td>
                    <td style="width:8px; text-align:center">|</td>
                    <td style="width:60px;text-align:center">{{item.buyQuantity}}</td>
                    <td style="width:8px; text-align:center">|</td>
                    <td>{{item.createTime}}</td>
                </tr>
            </table>
        </div>
    </el-card>
    @*<el-card class="box-card">
        <div slot="header" class="clearfix">
            <span>待处理 （<span style="color:red">5</span>）</span>
            <el-button style="float: right; padding: 3px 0" type="text">去处理</el-button>
        </div>
        <div class="text item">
            ddd
        </div>
    </el-card>*@
    <div id="lineChat" class="lineChat" style="height:400px"></div>
</div>



@section Css{
    <link rel="stylesheet" href ="/css/homeIndex.css">
}
@section Scripts{
    <script src="~/js/echarts.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        headerApp.activeIndex = "1";
        var mainApp = new Vue({
            el: "#mainApp",
            data: {
                orderData: {}
            },
            mounted: function () {
                var _that = this;
                this.$nextTick(function () {
                    _that.getLineChatData();
                    _that.getOrderData();
                });
            },
            methods: {
                getOrderData: function () { 
                    axios.get("/home/GetOrderData").then(res => { 
                        res.data.waitSendGoodsList.forEach(function (e) {
                            e.createTime = dateFtt(e.createTime,"yyyy-MM-dd hh:mm:ss");
                        })

                        this.orderData = res.data;
                    })
                },
                getLineChatData: function () {
                    var option = {
                        title: {
                            left: 'left',
                            text: '近30日订单折线图',
                        },
                        xAxis: {
                            type: 'category',
                            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [{
                            data: [820, 932, 901, 934, 1290, 1330, 1320],
                            type: 'line'
                        }]
                    };
                    var lineChat = echarts.init(document.getElementById('lineChat'));

                    axios.get("/home/GetLineChatData").then(res => {
                        option.xAxis.data = res.data.x;
                        option.series[0].data = res.data.y;

                        lineChat.setOption(option)
                    })                    
                }
            }
        });
    </script>
}